@page "/"
  <!--<div class="d-md-flex h-md-100 align-items-center">

    <div class="col-md-6 p-0 bg-white h-md-100">
      <div class="d-md-flex align-items-center h-100 p-5 text-center justify-content-center">
        <div class="logoarea pt-5 pb-5">
          <RoverMetadata></RoverMetadata>
        </div>
      </div>
    </div>-->
  <!-- Second Half -->
  <!--<div class="col-md-6 p-0 bg-white h-md-100 loginarea">
      <div class="d-md-flex align-items-center h-md-100 p-5 justify-content-center">
        <RoverPhotos />
      </div>
    </div>

  </div>-->

  <div class="split left">
    <div class="centered">
      <RoverMetadata></RoverMetadata>
    </div>
  </div>

  <div class="split right">
    <div class="centered">
      <RoverPhotos />
    </div>
  </div>


  @code {


  }
