@inherits LayoutComponentBase

<div class="page">
    <div class="main">
        <div class="top-row px-4">
            <a href="https://mars.nasa.gov/mars2020/" target="_blank" class="ml-md-auto">Nasa Mars</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
